<!-- <p>{{clientobg| json}}</p>
<ul>
  @for (item of userList$ |async; track $index) {
    <li>(item.username)</li>
  }
</ul> -->
<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">Client List</div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <table class="table table-borderred">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Company Name</th>
                  <th>Person Name</th>
                  <th>Contact No</th>
                  <th>City</th>
                  <th>Action</th>
                  
                  
                </tr>
              </thead>
              <tbody>
                @for (item of clienList; track $index) {
                  <tr>
                    <td>{{$index+1}}</td>
                  <td>{{item.companyName}}</td>
                  <td>{{item.contactPersonName}}</td>
                  <td>{{item.contactNo}}</td>
                  <td>{{item.city}}</td>
                  <td>
            
                    <button class="btn btn-danger" (click)="onDelete(item.clientId)">Delete</button>

                  </td>
                  </tr>
                }
                  

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">New Client List</div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label for="">Person Name</label>
            <input type="text" #personName="ngModel" required [(ngModel)]="clientobg.contactPersonName" class="form-control" />
           
            <div class="text-danger">
              @if (personName?.errors?.['required']) {
                <span>This is required Message
                </span>
              }
              
            </div>
          </div>
          <div class="col-6">
            <label for="">Comany Name</label>
            <input type="text" [(ngModel)]="clientobg.companyName" class="form-control" />
          </div>
          <div class="col-6">
            <label for="">Address</label>
            <textarea [(ngModel)]="clientobg.address" class="form-control"></textarea>
          </div>
          <div class="col-6">
            <label for="">City</label>
            <input type="text" [(ngModel)]="clientobg.city" class="form-control" />
          </div>
          <div class="col-6">
            <label for="">PinCode</label>
            <input type="text" [(ngModel)]="clientobg.pincode" class="form-control" />
          </div>
          <div class="col-6">
            <label for="">State</label>
            <input type="text" [(ngModel)]="clientobg.state" class="form-control" />
          </div>
          <div class="col-6">
            <label for="">Employee Strength</label>
            <input type="text" [(ngModel)]="clientobg.EmployeeStrength" class="form-control" />
          </div><div class="col-6">
            <label for="">GST No</label>
            <input type="text" [(ngModel)]="clientobg.gstNo" class="form-control" />
          </div><div class="col-6">
            <label for="">Contact No</label>
            <input type="text" [(ngModel)]="clientobg.contactNo" class="form-control" />
          </div><div class="col-6">
            <label for="">Reg No</label>
            <input type="text" [(ngModel)]="clientobg.regNo" class="form-control" />
          </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-secondary">Reset</button>
            </div>
            <div class="col-6">
                <button class="btn btn-success" (click)="onSaveClient()">Save Client</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
